################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TiCketingSystem/.vs/TiCketingSystem/FileContentIndex/0eaf5c59-4f12-4f8b-93f6-ac7818f49a0a.vsidx
/TiCketingSystem/.vs/TiCketingSystem/FileContentIndex
